* { outline: 1px solid pink; }

.header li {
  display: inline-block;
  list-style: none;
  padding: 15px;
  float: right;
}

.image {
  width: 100%;
}

.account {
 background-color: #8A93A3;
}

.white {
  background-color: white;
  height: 20px;
}

@media only screen
and (min-width : 770px) {
  .menu-wrapper .navbar-nav li a {
    padding-top: 38px;
    padding-bottom: 37px;
  }
  .logo .navbar-brand {
    height: 100%;
  }
}
