
<div class="container">

  <% @products.each do |product| %>
    <div class="row">
      <%= link_to image_tag(product.image_url, class: "one-third column"), product_path(product.id) %>
      <h5 class="two-thirds column">
        <%= link_to "#{product.name}", product_path(product.id) %>
      </h5>
      <div class="seven columns"><%= product.description %></div>
    </div>
    <br>
  <% end %>

</div>
