<div class="container">

  <% @products.each do |product| %>
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <%= link_to image_tag(product.image_url, class: "image"), product_path(product.id) %>
      </div>
      <h4 class="col-lg-9"><%= link_to "#{product.name}", product_path(product.id) %></h4>
      <div class="col-lg-9"><%= product.description %></div>
    </div>
    <br>
  <% end %>

</div>
