<div class="row header">
  <%= image_tag("https://s3.amazonaws.com/dressup02/logo.png", class: "one offset-by-one column") %>
  <ul class="nine columns">
    <li>Cart (0)</li>
    <li>Sign Up</li>
    <li>Sign In</li>
  </ul>
</div>

<div class="container">

  <% @products.each do |product| %>
    <div class="row">
      <%= link_to image_tag(product.image_url, class: "one-third column"), product_path(product.id) %>
      <h5 class="two-thirds column">
        <%= link_to "#{product.name}", "#" %>
      </h5>
      <div class="seven columns"><%= product.description %></div>
    </div>
    <br>
  <% end %>

</div>
